.nav {
    background-color: #3a173b;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;

}
.menu-item {
    display: inline-block;
    margin: 15px 44px;
}
.menu-item.menu-item-first {
    margin-left: 0;
}
.menu-item.menu-item-last {
    margin-right: 0;
}



.nav .menu-item {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;

  text-decoration: none;

}

.nav .icon, .nav .phone {
  display: none;
  color: #fff;
  margin: 5px 10px 5px 5px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
  height: 42px;
  width: 48px;
  background-color: #a94224;
  border-radius: 5px;
  padding: 5px 8px;

}

.nav .phone {
  background-image: url("../images/phone.svg");
  float: right;

}

@media screen and (max-width: 1200px) {
  .nav .menu-item {display: none;}
  .nav a.icon, .nav a.phone {

    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .nav.responsive {position: relative;}
  .nav.responsive .row {position: relative;}
  .nav.responsive .menu-items {
    /* position: absolute; */
    top: 52px;
    background-color: #3a173b;
  }
  .menu-item.menu-item-first {
      margin-left: 10px;
  }
  .nav.responsive .icon {

  }
  .nav.responsive .menu-item {
    float: none;
    display: block;
    text-align: left;
    margin: 15px 10px;
  }
}
